div {
  display: flex;
  justify-content: center;
}

p {
  width: 500px;
  height: 50px;
  font-size: 3rem;
  text-align: center;
  align-content: center;
}

span {
  font-size: 4rem;
  color: red;
  font-weight: 600;
}
